FishingReports.Client/Service References/LoginService/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55893/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55893/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55893/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FishingReports.Model" />
      <xsd:import schemaLocation="http://localhost:55893/LoginService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_AttemptLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AttemptLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AttemptLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttemptLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DoesUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserExist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DoesUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserExistResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetNumberOfPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfPosts" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetNumberOfPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfPostsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateNewUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="AttemptLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/AttemptLogin" message="tns:ILoginService_AttemptLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/AttemptLoginResponse" message="tns:ILoginService_AttemptLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/DoesUserExist" message="tns:ILoginService_DoesUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/DoesUserExistResponse" message="tns:ILoginService_DoesUserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/InsertUser" message="tns:ILoginService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/InsertUserResponse" message="tns:ILoginService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetUser" message="tns:ILoginService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetUserResponse" message="tns:ILoginService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetNumberOfPosts" message="tns:ILoginService_GetNumberOfPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetNumberOfPostsResponse" message="tns:ILoginService_GetNumberOfPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ValidateNewUser" message="tns:ILoginService_ValidateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ValidateNewUserResponse" message="tns:ILoginService_ValidateNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AttemptLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/AttemptLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesUserExist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/DoesUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfPosts">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetNumberOfPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateNewUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ValidateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://localhost:55893/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>