FishingReports.Client/Service References/LoginService/LoginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FishingReports.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FishingReports.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Residence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEntity" nillable="true" type="tns:UserEntity" />
</xs:schema>