FishingReports.Client/Service References/ReportService/ReportDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55893/ReportDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55893/ReportDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55893/ReportDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FishingReports.Model" />
      <xsd:import schemaLocation="http://localhost:55893/ReportDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FishingReportsServices" />
      <xsd:import schemaLocation="http://localhost:55893/ReportDataService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportDataService_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetImagesByLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesByLocation" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetImagesByLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_SynchronizeImagesForReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeImagesForReport" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_SynchronizeImagesForReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeImagesForReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_SaveNewImages_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewImages" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_SaveNewImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_DeleteImages_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImages" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_DeleteImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReports" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_UpdateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReport" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_UpdateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetAllYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllYears" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_GetAllYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllYearsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_SaveReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveReport" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_SaveReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_ValidateNewReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateNewReport" />
  </wsdl:message>
  <wsdl:message name="IReportDataService_ValidateNewReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateNewReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportDataService">
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/GetImages" message="tns:IReportDataService_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/GetImagesResponse" message="tns:IReportDataService_GetImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImagesByLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/GetImagesByLocation" message="tns:IReportDataService_GetImagesByLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/GetImagesByLocationResponse" message="tns:IReportDataService_GetImagesByLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeImagesForReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/SynchronizeImagesForReport" message="tns:IReportDataService_SynchronizeImagesForReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/SynchronizeImagesForReportResponse" message="tns:IReportDataService_SynchronizeImagesForReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNewImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/SaveNewImages" message="tns:IReportDataService_SaveNewImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/SaveNewImagesResponse" message="tns:IReportDataService_SaveNewImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/DeleteImages" message="tns:IReportDataService_DeleteImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/DeleteImagesResponse" message="tns:IReportDataService_DeleteImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/GetReports" message="tns:IReportDataService_GetReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/GetReportsResponse" message="tns:IReportDataService_GetReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/GetReport" message="tns:IReportDataService_GetReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/GetReportResponse" message="tns:IReportDataService_GetReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/UpdateReport" message="tns:IReportDataService_UpdateReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/UpdateReportResponse" message="tns:IReportDataService_UpdateReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllYears">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/GetAllYears" message="tns:IReportDataService_GetAllYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/GetAllYearsResponse" message="tns:IReportDataService_GetAllYears_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/SaveReport" message="tns:IReportDataService_SaveReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/SaveReportResponse" message="tns:IReportDataService_SaveReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateNewReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportDataService/ValidateNewReport" message="tns:IReportDataService_ValidateNewReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportDataService/ValidateNewReportResponse" message="tns:IReportDataService_ValidateNewReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportDataService" type="tns:IReportDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImagesByLocation">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/GetImagesByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeImagesForReport">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/SynchronizeImagesForReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewImages">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/SaveNewImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImages">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/DeleteImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReports">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/GetReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReport">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/UpdateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllYears">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/GetAllYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReport">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/SaveReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateNewReport">
      <soap:operation soapAction="http://tempuri.org/IReportDataService/ValidateNewReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportDataService">
    <wsdl:port name="BasicHttpBinding_IReportDataService" binding="tns:BasicHttpBinding_IReportDataService">
      <soap:address location="http://localhost:55893/ReportDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>